<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>NServiceBus.Connect</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://builds.particular.net/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="Anything" StabilityConvention="None" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" StabilityConvention="None" />
  </Feeds>
  <Nugets>
    <Dependency Name="Fody" Version="1.17.4.0" Mode="Fixed" />
    <Dependency Name="NServiceBus" Version="4.5.0-Unstable0021" Mode="Float" />
    <Dependency Name="NServiceBus.Interfaces" Version="4.5.0-Unstable0021" Mode="Float" />
    <Dependency Name="NUnit" Version="2.6.2" Mode="Fixed" />
    <Dependency Name="Obsolete.Fody" Version="3.0.4.0" Mode="Fixed" />
    <Dependency Name="RhinoMocks" Version="3.6.1" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs>
    <Nuspec File="nservicebus.connect.nuspec" Project="NServiceBus.Connect" />
  </Nuspecs>
</ripple>