[*.cs]

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# Justification: Otherwise must bump LangVersion
 dotnet_diagnostic.IDE0028.severity = none
